<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 1</title>
</head>
<body>
    <h1>Введите ваше любимое слово</h1>
    <form action="/favouring" method="post">
        <label for="fav_word">Любимое слово:</label>
        <input type="text" name="fav_word" id="fav_word" required>
        <br><br>
        <button type="submit">Далее</button>
    </form>

    <a href="/questioning">Enter</a>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
